
.header-styleguide {
    color: black;
    margin: 50px 0;
    font-size: 30px;
    text-shadow: 3px 3px white;
    font-family: $paragraph-font;}

.colors-wrapper {
    display: flex;
}
.color {
    width: 120px;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
}
.primary {
    background-color: $grey;

}
.secondary {
    background-color: $blue;
}
.alert {
    background-color: $dark;
}
.danger {
    background-color: $orange;
}
.styleguide-wrapper {
    display: flex;
    background-color: #F0F0F0;
    padding: 40px;
    border-radius: 20px;
    margin: 30px;
    .column {
        flex: 50%;
    }
    .space {
        margin-right: 70px; 
    }
}

.component-wrapper {
    margin: 20px 30px;
}

.styleguide-menu {
    width: 250px;
}

.styleguide-navbar {
    width: 1200px;
}

.styleguide-background {
    width: 1200px;
}

.space-left {
    margin-left: 30px;
}