.logo-wrapper {
    display: flex;
    i {
        color: white;
    }
}
.logo {
    font-family: $logo-font;
    font-size: 32px;
    color: white;
    margin: 15px;
}
.component-menu {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $dark;
    border-bottom: 2px solid lightgrey;
    position: fixed;
    ol {
        padding: 0;
        li {
        color: lightgrey;
        padding: 10px 0 10px 15px;
            h3 {
                width: 70%;
                display: inline-block;
                margin: 0 10px;
            }
            img {
                filter: invert(.5);   
            }     
        }
        li:hover {
            background-color: $medium-dark;
            color: white;
        }
    }    
}