.component-navbar {
    min-height: 50px;
    min-width: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 20% 5% 20% 5%;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    div {
        border-left: 2px solid lightgray;
        background-color: white;
        padding: 10px;
        border-bottom: 2px solid lightgray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2 {
            display: inline-block;
            padding: 0 25px;
            font-family: $paragraph-font;
            color: $medium-grey;
        }
        a {
            margin-left: 6px;
        } 
    }
    div:last-child {
        border-right: 2px solid lightgray;
    }

}