.component-pagination {
    background-color: white;
    max-width: 735px;
    height: 70px;
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    .button-pagination {
        border: none;
        height: 50px;
        width: 50px;
        margin: 0;
        background-color: white;
        font-size: 20px;
        color: $blue;
    }
    .button-pagination:hover {
        background-color: lightgray;
    }
    img {
        padding: 0 20px;
    }
}